apiVersion: v1
kind: Secret
type: kubernetes.io/tls
metadata:
  name: "{{ nombre_secreto_tls }}"
  namespace: "{{ namespace | lower }}"
data:
  tls.crt: "{{ lookup('template', tls_cert_path) | b64encode }}"
  tls.key: "{{ lookup('template', tls_key_path) | b64encode }}"